body {
    background: linear-gradient(#fde2ea, #fff5f9);
    font-family: "Georgia", serif;
    text-align: center;
}

.card {
    background: white;
    width: 340px;
    margin: 120px auto;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.hint {
    color: #777;
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    padding: 10px 26px;
    font-size: 17px;
    background-color: #ff6b95;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3f78;
}

.hidden {
    display: none;
}

#secretMessage {
    margin-top: 28px;
    font-size: 17px;
    color: #444;
    line-height: 1.8;

}
