body {
    background: linear-gradient(#ffe5ec,
                                #ffd6e8,
                                #fff0f5);
    font-family: "Georgia", serif;
    text-align: center;
}

.card {
    background: white;
    width: 380px;
    margin: 90px auto;
    padding: 36px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

.hint {
    color: #8e3a59;
    font-size: 30px;
    margin-bottom: 18px;
}

button {
    padding: 14px 30px;
    font-size: 19px;
    background-color: #c2185b;
    color: White;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font_weight:700;
}

button:hover {
    background-color: #9c144a;
}

.hidden {
    display: none;
}

#secretMessage {
    margin-top: 30px;
    font-size: 22px;
    color: #5a1f33;
    line-height: 2;

}







